### <font color=#E6ae1d size=8>Projeto Final üìä</font>

---

### Pesquisa Nacional por Amostra de Domic√≠lios - 2015

A <b>Pesquisa Nacional por Amostra de Domic√≠lios - PNAD</b> investiga anualmente, de forma permanente, caracter√≠sticas gerais da popula√ß√£o, de educa√ß√£o, trabalho, rendimento e habita√ß√£o e outras, com periodicidade vari√°vel, de acordo com as necessidades de informa√ß√£o para o pa√≠s, como as caracter√≠sticas sobre migra√ß√£o, fecundidade, nupcialidade, sa√∫de, seguran√ßa alimentar, entre outros temas. O levantamento dessas estat√≠sticas constitui, ao longo dos 49 anos de realiza√ß√£o da pesquisa, um importante instrumento para formula√ß√£o, valida√ß√£o e avalia√ß√£o de pol√≠ticas orientadas para o desenvolvimento socioecon√¥mico e a melhoria das condi√ß√µes de vida no Brasil.

### Fonte dos Dados

https://ww2.ibge.gov.br/home/estatistica/populacao/trabalhoerendimento/pnad2015/microdados.shtm

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dados.csv')
df.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

# <font color='green'>Problema A</font>

Avaliando nosso dataset √© poss√≠vel verificar que a **propor√ß√£o de homens** como chefes de domic√≠lios √© de quase **70%**. Precisamos **selecionar aleatoriamente grupos de 10 indiv√≠duos** para verificar as diferen√ßas entre os rendimentos em cada grupo. Qual a **probabilidade de selecionamos um grupo que apresente a mesma propor√ß√£o da popula√ß√£o**, ou seja, selecionarmos um grupo que seja **composto por 7 homens e 3 mulheres**?  

|C√≥digo|Descri√ß√£o|
|---|---|
|0|Masculino|
|1|Feminino|

 <font color='orange'>Como tarefa extra, verifique a real propor√ß√£o de homens e mulheres em nosso dataset (vimos como fazer isso em nosso primeiro curso de estat√≠stica).</font>

 <font color='orange'>Verifique que tipo de distribui√ß√£o de probabilidade se encaixa neste experimento.</font>

In [3]:
df['Sexo'].value_counts(normalize=True)

Sexo
0    0.692998
1    0.307002
Name: proportion, dtype: float64

In [ ]:
# Escolha bin√°ria => Distribui√ß√£o Binomial  
from scipy.stats import binom

> 
> $$
> P(k) = \binom{n}{k}p^k (1-p)^{n-k} 
> $$
>
> $p$ : probabilidade de sucesso  
> $q = 1 - p$ : probabilidade de fracasso  
> $n$ : n√∫mero de eventos estudados  
> $k$ : n√∫mero de eventos desejados que tenham sucesso

In [5]:
# n√∫mero de eventos
n = 10
# probabilidade de sucesso
p = 70/100
# total de eventos que se deseja ter sucesso (7 homens)
k = 7

probabilidade = binom.pmf(k, n, p)
print(f'Probabilidade: {probabilidade:.2%}')

Probabilidade: 26.68%

# <font color='green'>Problema B</font>

Ainda sobre a quest√£o anterior, **quantos grupos de 10 indiv√≠duos** n√≥s precisar√≠amos selecionar, de forma aleat√≥ria, para conseguir **100 grupos compostos por 7 homens e 3 mulheres**?

#### <font color='red'>Lembre-se da forma de c√°lculo da m√©dia de uma distribui√ß√£o binomial</font>

Solu√ß√£o $\mu = n \cdot p$

In [6]:
# m√©dia da dist. binomial
mu = 100

n = mu / probabilidade
print(f"Dever√£o ser selecionados {round(n)} grupos")

Dever√£o ser selecionados 375 grupos

# <font color='green'>Problema C</font>

Um cliente nos encomendou um estudo para avaliar o **rendimento dos chefes de domic√≠lio no Brasil**. Para isso precisamos realizar uma nova coleta de dados, isto √©, uma nova pesquisa de campo. Ap√≥s reuni√£o com o cliente foi poss√≠vel elencar o seguinte conjunto de informa√ß√µes:

> A. O resultado da pesquisa precisa estar pronto em **2 meses**;

> B. Teremos somente **R$ 150.000,00** de recursos para realiza√ß√£o da pesquisa de campo; e
    
> C. Seria interessante uma **margem de erro n√£o superior a 10% em rela√ß√£o a m√©dia estimada**.

Em nossa experi√™ncia com estudos deste tipo, sabemos que o **custo m√©dio por indiv√≠duo entrevistado fica em torno de R$100,00**. Com este conjunto de fatos avalie e obtenha o seguinte conjunto de informa√ß√µes para passar ao cliente:


> 1. Para obter uma estimativa para os par√¢metros da popula√ß√£o (renda dos chefes de domic√≠lio no Brasil), realize uma amostragem aleat√≥ria simples em nosso conjunto de dados. Essa amostra deve conter 200 elementos (utilize random_state = 101 para garantir que o mesmo experimento posso ser realizado novamente). Obtenha a m√©dia e o desvio-padr√£o dessa amostra.
    
> 2. Para a **margem de erro** especificada pelo cliente obtenha os **tamanhos de amostra** necess√°rios para garantir os **n√≠veis de confian√ßa de 90%, 95% e 99%**.
    
> 3. Obtenha o **custo da pesquisa** para os tr√™s n√≠veis de confian√ßa.
    
> 4. Para o maior n√≠vel de confian√ßa vi√°vel (dentro do or√ßamento dispon√≠vel), obtenha um **intervalo de confian√ßa para a m√©dia da popula√ß√£o**.
    
> 5. Assumindo o **n√≠vel de confian√ßa escolhido no item anterior**, qual **margem de erro** pode ser considerada utilizando todo o recurso disponibilizado pelo cliente?
    
> 6. Assumindo um **n√≠vel de confian√ßa de 95%**, **quanto a pesquisa custaria ao cliente** caso fosse considerada uma **margem de erro de apenas 5%** em rela√ß√£o a m√©dia estimada?

# <font color='blue'>Solu√ß√£o do item 1</font>

### Sele√ß√£o de uma amostra aleat√≥rio simples

#### <font color='red'>Lembre-se de utilizar *random_state = 101*</font>

In [13]:
# 1. 
num_amostras: int = 200
amostra = df.sample(num_amostras, random_state=101)
display(amostra.head())


media = amostra["Renda"].mean()
desvio_padrao = amostra["Renda"].std()

print(f'{media = }')
print(f'{desvio_padrao = }')


recursos = 150_000
custo_entrevista = 100

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
29042  29     0     39    8               5    480  1.719128
62672  43     0     55    2               6    250  1.639205
29973  29     1     36    2              12    788  1.654122
22428  26     0     46    8               8   1680  1.622450
55145  41     0     37    2               9   2500  1.625268

media = 1964.205
desvio_padrao = 3139.8855167452157

In [21]:
from scipy.stats import norm

In [30]:
# 2. 
erro: float = 0.10 * media # em relacao a media
print(f'Erro de R${erro:.2f} para mais ou para menos.')

niveis_de_confianca: list[float] = [0.9, 0.95, 0.99]
quantis = [0.5 + (confianca/2) for confianca in niveis_de_confianca]

print(f"{quantis = }")

z = [norm.ppf(quantil) for quantil in quantis ]

# n = (z * (desvio/e) )**2

tamanhos = [round((zz * desvio_padrao/erro)**2) for zz in z]
print(f"Para os n√≠veis de confian√ßa {niveis_de_confianca}, foram obtidos os tamanhos de amostra {tamanhos}")

Erro de R$196.42 para mais ou para menos.
quantis = [0.95, 0.975, 0.995]
Para os n√≠veis de confian√ßa [0.9, 0.95, 0.99], foram obtidos os tamanhos de amostra [691, 982, 1695]

In [36]:
# 3. Custo da pesquisa
custos = [custo_entrevista * tamanho_amostra for tamanho_amostra in tamanhos]
print(f"{custos}")

print('Para a confian√ßa de 99% o or√ßamento estoura')

[69100, 98200, 169500]
Para a confian√ßa de 99% o or√ßamento estoura

In [41]:
# 4. Intervalo de confian√ßa
escala = desvio_padrao / np.sqrt(tamanhos[1])
norm.interval(
    confidence=niveis_de_confianca[1],
    loc=media,
    scale=escala
)

(1767.820973280509, 2160.589026719491)

In [50]:
# 5. Assumindo o n√≠vel de confian√ßa do item anterior, qual erro pode ser utilizado utilizando todo recurso?
# Aumentar a amostra, diminuindo o erro usando todo o 150_000

num_amostras= recursos / custo_entrevista # => intuitivo
z = norm.ppf(quantis[1]) # 95%
novo_erro = z * (desvio_padrao/np.sqrt(num_amostras))
print(f'Novo erro de R${novo_erro:.2f}')


erro_percentual = novo_erro / media
print(f"A nova margem de erro √© de {erro_percentual:.2%}")

Novo erro de R$158.90
A nova margem de erro √© de 8.09%

In [59]:
# 6. Custo para erro de 5%
e = 0.05 * media
print(f"Erro -- R${e:.2f}")

z = norm.ppf(quantis[1])
tamanho_amostra = (z * (desvio_padrao/e))**2
print(f"O novo tamanho da amostra seria de {round(tamanho_amostra)} indiv√≠duos")

novo_custo = round(tamanho_amostra) * custo_entrevista
print(f"Necessitaria de R${novo_custo} para realizar a pesquisa com o erro de 5%")

Erro -- R$98.21
O novo tamanho da amostra seria de 3927 indiv√≠duos
Necessitaria de R$392700 para realizar a pesquisa com o erro de 5%