<h1 style="background-color: #251351; color: white;padding:10px; text-align: center;">Técnicas de Amostragem</h1>

In [1]:
import pandas as pd

In [2]:
dados: pd.DataFrame = pd.read_csv('dados.csv')
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [3]:
dados['Renda'].mean()

2000.3831988547631

In [4]:
dados.shape

(76840, 7)

__Amostragem Aleatória Simples__

In [5]:
amostra = dados.sample(n = 100,random_state=101)
amostra

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
29042  29     0     39    8               5    480  1.719128
62672  43     0     55    2               6    250  1.639205
29973  29     1     36    2              12    788  1.654122
22428  26     0     46    8               8   1680  1.622450
55145  41     0     37    2               9   2500  1.625268
...    ..   ...    ...  ...             ...    ...       ...
40245  32     0     35    2              12   2800  1.668898
30997  29     1     34    4              14   1924  1.795315
15094  23     0     60    4               1    130  1.682966
48788  35     1     39    2               7    460  1.777723
34891  31     0     42    2               3   1200  1.764392

[100 rows x 7 columns]

In [6]:
print(f"Renda média:\nPopulação {dados['Renda'].mean()}\nAmostra {amostra['Renda'].mean()}")
print("Gênero")
print(dados['Sexo'].value_counts(normalize=True))
print(amostra['Sexo'].value_counts(normalize=True))

Renda média:
População 2000.3831988547631
Amostra 2150.85
Gênero
Sexo
0    0.692998
1    0.307002
Name: proportion, dtype: float64
Sexo
0    0.69
1    0.31
Name: proportion, dtype: float64

### Amostragem Estratificada (homogêneos) e Conglomerados (heterogêneos)  

A amostragem estratificada e a amostragem por conglomerados são técnicas estatísticas utilizadas para selecionar subconjuntos representativos de uma população. Na amostragem estratificada, a população é dividida em grupos homogêneos chamados estratos — como idade, renda ou escolaridade — e, em seguida, são selecionadas amostras de cada estrato proporcionalmente ou de forma igual, garantindo maior precisão nas estimativas. Já na amostragem por conglomerados, a população é dividida em grupos heterogêneos chamados conglomerados — como bairros, escolas ou empresas — e alguns desses grupos são escolhidos aleatoriamente para compor a amostra. Essa abordagem é especialmente útil quando é difícil ou caro acessar todos os indivíduos da população, embora possa resultar em menor precisão comparada à estratificada..