<h1 style="text-align: center", ;"> <font color=#FFFFF size=5> Tratamento e Manipulação de Dados - Desafios </font> </h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Projeto 1: Vendas Online
dados_vendas = pd.read_json('./data/dados_vendas_clientes.json')
dados_vendas = pd.json_normalize(dados_vendas['dados_vendas'])

# Projeto 2: Locação Imovéis
dados_imoveis = pd.read_json('./data/dados_locacao_imoveis.json')
dados_imoveis = pd.json_normalize(dados_imoveis['dados_locacao'])

In [3]:
dados_vendas

,Data de venda,Cliente,Valor da compra
0,06/06/2022,"[@ANA _LUCIA 321, DieGO ARMANDIU 210, DieGO AR...","[R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]"
1,07/06/2022,"[Isabely JOanes 738, Isabely JOanes 738, Isabe...","[R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]"
2,08/06/2022,"[Isabely JOanes 738, JOãO Gabriel 671, Julya m...","[R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]"
3,09/06/2022,"[Julya meireles 914, MaRIA Julia 444, MaRIA Ju...","[R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]"
4,10/06/2022,"[MaRIA Julia 444, PEDRO PASCO 812, Paulo castr...","[R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]"

In [4]:
# Remover os dados em listas
dados_vendas = dados_vendas.explode(column=['Cliente', 'Valor da compra']).reset_index(drop=True)
dados_imoveis = dados_imoveis.explode(column=list(dados_imoveis.columns[1:])).reset_index(drop=True)

In [5]:
dados_vendas['Valor da compra'] = dados_vendas['Valor da compra'].apply(
    lambda x : x.replace('R$', '').replace(',', '.').strip()
)   
dados_imoveis['valor_aluguel'] = dados_imoveis['valor_aluguel'].str.replace('$ ', '').str.replace(',', '.').str.replace(' reais', '').str.strip()

In [6]:
dados_vendas['Valor da compra'] = dados_vendas['Valor da compra'].astype(np.float64)
dados_imoveis['valor_aluguel'] = dados_imoveis['valor_aluguel'].astype(np.float64)

In [7]:
dados_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     float64
dtypes: float64(1), object(2)
memory usage: 612.0+ bytes

In [8]:
dados_imoveis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.1+ KB

__Desafio - Dados Textuais__

- manipule os textos presentes na coluna Cliente para que seja obtido como resultado os nomes dos clientes em letras minúsculas, com a ausência de caracteres especiais ou números.

In [15]:
# Minusculas
dados_vendas['Cliente'] = dados_vendas['Cliente'].str.lower()

In [16]:
dados_vendas

   Data de venda             Cliente  Valor da compra
0     06/06/2022     @ana _lucia 321           836.50
1     06/06/2022  diego armandiu 210           573.33
2     06/06/2022  diego armandiu 210           392.80
3     06/06/2022  diego armandiu 210           512.34
4     07/06/2022  isabely joanes 738           825.31
5     07/06/2022  isabely joanes 738           168.07
6     07/06/2022  isabely joanes 738           339.18
7     07/06/2022  isabely joanes 738           314.69
8     08/06/2022  isabely joanes 738           682.05
9     08/06/2022    joão gabriel 671           386.34
10    08/06/2022  julya meireles 914           622.65
11    08/06/2022  julya meireles 914           630.79
12    09/06/2022  julya meireles 914           390.30
13    09/06/2022     maria julia 444           759.16
14    09/06/2022     maria julia 444           334.47
15    09/06/2022     maria julia 444           678.78
16    10/06/2022     maria julia 444           314.24
17    10/06/2022     pedro pasco 812           311.15
18    10/06/2022    paulo castro 481           899.16
19    10/06/2022   thiago fritzz 883           885.24

In [ ]:
# Remoção de números, e underscore e @
regex_para_numeros: str = r"[0-9]"
dados_vendas['Cliente'] = dados_vendas['Cliente'].str.replace(pat=regex_para_numeros, repl=" ", regex=True)
dados_vendas['Cliente'] = dados_vendas['Cliente'].str.replace(pat="@", repl="")
dados_vendas['Cliente'] = dados_vendas['Cliente'].str.replace(pat="_", repl="").str.strip()

> A solução da Alura foi a seguinte:  

```python
# Tudo que satisfaz o regex é apagado
dados['Cliente'].str.replace('[^a-z ]', '', regex=True)
```

In [37]:
dados_vendas

   Data de venda         Cliente  Valor da compra
0     06/06/2022       ana lucia           836.50
1     06/06/2022  diego armandiu           573.33
2     06/06/2022  diego armandiu           392.80
3     06/06/2022  diego armandiu           512.34
4     07/06/2022  isabely joanes           825.31
5     07/06/2022  isabely joanes           168.07
6     07/06/2022  isabely joanes           339.18
7     07/06/2022  isabely joanes           314.69
8     08/06/2022  isabely joanes           682.05
9     08/06/2022    joão gabriel           386.34
10    08/06/2022  julya meireles           622.65
11    08/06/2022  julya meireles           630.79
12    09/06/2022  julya meireles           390.30
13    09/06/2022     maria julia           759.16
14    09/06/2022     maria julia           334.47
15    09/06/2022     maria julia           678.78
16    10/06/2022     maria julia           314.24
17    10/06/2022     pedro pasco           311.15
18    10/06/2022    paulo castro           899.16
19    10/06/2022   thiago fritzz           885.24

In [45]:
dados_imoveis['apartamento'] = dados_imoveis['apartamento'].str.replace(" (blocoAP)", "").str.strip()

In [46]:
dados_imoveis

   apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0         A101                 01/06/2022         05/06/2022         1000.0
1         A101                 01/07/2022         03/07/2022         2500.0
2         A102                 02/06/2022         02/06/2022         1100.0
3         A102                 02/07/2022         06/07/2022         2600.0
4         B201                 03/06/2022         07/06/2022         1200.0
5         B201                 03/07/2022         03/07/2022         2700.0
6         B202                 04/06/2022         07/06/2022         1300.0
7         B202                 04/07/2022         05/07/2022         2800.0
8         C301                 05/06/2022         10/06/2022         1400.0
9         C301                 05/07/2022         09/07/2022         2900.0
10        C302                 06/06/2022         08/06/2022         1500.0
11        C302                 06/07/2022         12/07/2022         1200.0
12        D401                 07/06/2022         07/06/2022         1600.0
13        D401                 07/07/2022         09/07/2022         1300.0
14        D402                 08/06/2022         10/06/2022         1700.0
15        D402                 08/07/2022         14/07/2022         1400.0
16        E501                 09/06/2022         10/06/2022         1800.0
17        E501                 09/07/2022         09/07/2022         1500.0
18        E502                 10/06/2022         16/06/2022         1900.0
19        E502                 10/07/2022         12/07/2022         1600.0
20        F601                 11/06/2022         17/06/2022         2000.0
21        F601                 11/07/2022         13/07/2022         1000.0
22        F602                 12/06/2022         15/06/2022         2100.0
23        F602                 12/07/2022         12/07/2022         1100.0
24        G701                 13/06/2022         19/06/2022         2200.0
25        G701                 13/07/2022         20/07/2022         1200.0
26        G702                 14/06/2022         15/06/2022         2300.0
27        G702                 14/07/2022         17/07/2022         2100.0
28        H801                 15/06/2022         18/06/2022         2400.0
29        H801                 15/07/2022         16/07/2022         2200.0