<h1>
<font color="#9de482"> Desafios </font>
</h1>

In [77]:
import pandas as pd
import numpy as np
import json

Base do desafio: https://cdn3.gnarususercontent.com.br/2929-pandas/informacoes.json

```bash
! curl https://cdn3.gnarususercontent.com.br/2929-pandas/informacoes.json > ./data/informacoes.json
```

In [78]:
data_path: str = "./data/informacoes.json"

__Teoria__:  

O método `json_normalize()` é usado para normalizar dados JSON em um formato tabular (como um DataFrame do Pandas) para facilitar a análise e manipulação. Os parâmetros mais importantes do método json_normalize() são:

- data: o objeto JSON a ser normalizado.  
- record_path: um caminho para acessar o array de registros dentro do objeto JSON.  
- meta: uma lista de colunas adicionais a serem incluídas no DataFrame, além das colunas normalizadas.  
- errors: como lidar com erros de normalização. Os valores possíveis são "raise" (lançar um erro), "ignore" (ignorar o erro).  
- sep: separador de colunas usado para concatenar as chaves do objeto JSON aninhado. O padrão é ".".

In [79]:
df = pd.read_json(data_path)
df

   nome  idade                                          enderecos
0  João     28  {'tipo': 'casa', 'rua': 'Rua A', 'numero': 123...
1  João     28  {'tipo': 'trabalho', 'rua': 'Rua B', 'numero':...

In [80]:
with open(data_path) as file:
    raw_json = json.load(file)
raw_json

{'nome': 'João',
 'idade': 28,
 'enderecos': [{'tipo': 'casa',
   'rua': 'Rua A',
   'numero': 123,
   'cidade': 'São Paulo'},
  {'tipo': 'trabalho',
   'rua': 'Rua B',
   'numero': 456,
   'cidade': 'Rio de Janeiro'}]}

Trata-se de informações de endereço de João, dividindo-os em endereço do tipo trabalho e casa.

In [81]:
df = pd.json_normalize(
    data=raw_json, 
    meta=['nome','idade'],
    record_path='enderecos'
)
df

       tipo    rua  numero          cidade  nome idade
0      casa  Rua A     123       São Paulo  João    28
1  trabalho  Rua B     456  Rio de Janeiro  João    28

 <font color=#96d97c size=5>Desafio 2 </font>  
 
 https://cdn3.gnarususercontent.com.br/2929-pandas/dados.json

In [82]:
! curl https://cdn3.gnarususercontent.com.br/2929-pandas/dados.json > "./data/dados.json"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   562  100   562    0     0   1690      0 --:--:-- --:--:-- --:--:--  1703

In [83]:
desafio2_path = "./data/dados.json"

In [84]:
desafio2 = pd.read_json(desafio2_path, )
desafio2

                                             pessoas
0  {'nome': 'João', 'idade': '25', 'endereco': {'...
1  {'nome': 'Maria', 'idade': 30, 'endereco': {'r...

In [85]:
df_pessoas = pd.json_normalize(desafio2['pessoas'])
df_pessoas

,nome,idade,telefones,endereco.rua,endereco.numero,endereco.cidade
0,João,25,"[11 1111-1111, 11 2222-2222]",Rua A,123,São Paulo
1,Maria,30,[21 3333-3333],,456,Rio de Janeiro

In [86]:
df_pessoas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nome             2 non-null      object
 1   idade            2 non-null      object
 2   telefones        2 non-null      object
 3   endereco.rua     2 non-null      object
 4   endereco.numero  2 non-null      int64
 5   endereco.cidade  2 non-null      object
dtypes: int64(1), object(5)
memory usage: 228.0+ bytes

In [87]:
df_pessoas.query("`endereco.rua` !=''")

# `endereco.rua` na Quert indica uma coluna nomeado com '.'

,nome,idade,telefones,endereco.rua,endereco.numero,endereco.cidade
0,João,25,"[11 1111-1111, 11 2222-2222]",Rua A,123,São Paulo

Desafio aula 03: https://cdn3.gnarususercontent.com.br/2929-pandas/cursos_cadastrados.json

In [88]:
! curl https://cdn3.gnarususercontent.com.br/2929-pandas/cursos_cadastrados.json > ./data/cursos_cadastrados.json

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  2898  100  2898    0     0  12220      0 --:--:-- --:--:-- --:--:-- 12545

In [89]:
cursos_cadastrados = pd.read_json('./data/cursos_cadastrados.json')

In [90]:
cursos_cadastrados

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,instrutor
0,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,"{'nome': 'João Silva', 'email': 'joao.silva@em..."
1,Excel para iniciantes,Produtividade,None,None,None,None,None,NaN,"{'nome': 'Maria Oliveira', 'email': 'maria.oli..."
2,Marketing digital para negócios,Marketing,30 horas,75,2022-03-01,2022-03-31,Curso introdutório em marketing,89.9,"{'nome': 'Ana Santos', 'email': 'ana.santos@em..."
3,Inteligência artificial,Programação,40 horas,,2022-04-01,,Curso avançado sobre inteligência artificial c...,129.9,"{'nome': '', 'email': 'contato@emailaleatorio...."
4,Inglês para negócios,Idiomas,20 horas,30,,,Curso de inglês para negócios,69.9,"{'nome': 'John Smith', 'email': '', 'telefone'..."
5,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,"{'nome': 'João Silva', 'email': 'joao.silva@em..."

In [91]:
instrutores = pd.json_normalize(cursos_cadastrados['instrutor']) # DataFrame

cursos_cadastrados = pd.concat([cursos_cadastrados, instrutores], axis=1)

In [92]:
cursos_cadastrados

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,instrutor,nome,email,telefone
0,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,"{'nome': 'João Silva', 'email': 'joao.silva@em...",João Silva,joao.silva@emailaleatorio.com,(11) 9999-9999
1,Excel para iniciantes,Produtividade,None,None,None,None,None,NaN,"{'nome': 'Maria Oliveira', 'email': 'maria.oli...",Maria Oliveira,maria.oliveira@emailaleatorio.com,(11) 8888-8888
2,Marketing digital para negócios,Marketing,30 horas,75,2022-03-01,2022-03-31,Curso introdutório em marketing,89.9,"{'nome': 'Ana Santos', 'email': 'ana.santos@em...",Ana Santos,ana.santos@emailaleatorio.com,(11) 7777-7777
3,Inteligência artificial,Programação,40 horas,,2022-04-01,,Curso avançado sobre inteligência artificial c...,129.9,"{'nome': '', 'email': 'contato@emailaleatorio....",,contato@emailaleatorio.com,
4,Inglês para negócios,Idiomas,20 horas,30,,,Curso de inglês para negócios,69.9,"{'nome': 'John Smith', 'email': '', 'telefone'...",John Smith,,
5,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,"{'nome': 'João Silva', 'email': 'joao.silva@em...",João Silva,joao.silva@emailaleatorio.com,(11) 9999-9999

In [93]:
cursos_cadastrados = cursos_cadastrados.drop(columns=['instrutor'])
cursos_cadastrados

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,nome,email,telefone
0,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,João Silva,joao.silva@emailaleatorio.com,(11) 9999-9999
1,Excel para iniciantes,Produtividade,None,None,None,None,None,NaN,Maria Oliveira,maria.oliveira@emailaleatorio.com,(11) 8888-8888
2,Marketing digital para negócios,Marketing,30 horas,75,2022-03-01,2022-03-31,Curso introdutório em marketing,89.9,Ana Santos,ana.santos@emailaleatorio.com,(11) 7777-7777
3,Inteligência artificial,Programação,40 horas,,2022-04-01,,Curso avançado sobre inteligência artificial c...,129.9,,contato@emailaleatorio.com,
4,Inglês para negócios,Idiomas,20 horas,30,,,Curso de inglês para negócios,69.9,John Smith,,
5,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,João Silva,joao.silva@emailaleatorio.com,(11) 9999-9999

In [94]:
cursos_cadastrados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   curso           6 non-null      object
 1   categoria       6 non-null      object
 2   carga_horaria   5 non-null      object
 3   concluintes     5 non-null      object
 4   data_inicio     5 non-null      object
 5   data_conclusao  5 non-null      object
 6   descricao       5 non-null      object
 7   preco           5 non-null      float64
 8   nome            6 non-null      object
 9   email           6 non-null      object
 10  telefone        6 non-null      object
dtypes: float64(1), object(10)
memory usage: 660.0+ bytes

In [95]:
cursos_cadastrados.isnull().sum()

curso             0
categoria         0
carga_horaria     1
concluintes       1
data_inicio       1
data_conclusao    1
descricao         1
preco             1
nome              0
email             0
telefone          0
dtype: int64

In [96]:
cursos_cadastrados[
    cursos_cadastrados.isna().any(axis=1)
]

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,nome,email,telefone
1,Excel para iniciantes,Produtividade,None,None,None,None,None,NaN,Maria Oliveira,maria.oliveira@emailaleatorio.com,(11) 8888-8888

In [97]:
cursos_cadastrados.dropna(inplace=True)

In [98]:
cursos_cadastrados

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,nome,email,telefone
0,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,João Silva,joao.silva@emailaleatorio.com,(11) 9999-9999
2,Marketing digital para negócios,Marketing,30 horas,75,2022-03-01,2022-03-31,Curso introdutório em marketing,89.9,Ana Santos,ana.santos@emailaleatorio.com,(11) 7777-7777
3,Inteligência artificial,Programação,40 horas,,2022-04-01,,Curso avançado sobre inteligência artificial c...,129.9,,contato@emailaleatorio.com,
4,Inglês para negócios,Idiomas,20 horas,30,,,Curso de inglês para negócios,69.9,John Smith,,
5,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,João Silva,joao.silva@emailaleatorio.com,(11) 9999-9999

In [101]:
cursos_cadastrados.reset_index(drop=True, inplace=True)

In [102]:
cursos_cadastrados

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,nome,email,telefone
0,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,João Silva,joao.silva@emailaleatorio.com,(11) 9999-9999
1,Marketing digital para negócios,Marketing,30 horas,75,2022-03-01,2022-03-31,Curso introdutório em marketing,89.9,Ana Santos,ana.santos@emailaleatorio.com,(11) 7777-7777
2,Inteligência artificial,Programação,40 horas,,2022-04-01,,Curso avançado sobre inteligência artificial c...,129.9,,contato@emailaleatorio.com,
3,Inglês para negócios,Idiomas,20 horas,30,,,Curso de inglês para negócios,69.9,John Smith,,
4,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,João Silva,joao.silva@emailaleatorio.com,(11) 9999-9999

In [105]:
cursos_cadastrados.duplicated()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [106]:
cursos_cadastrados.drop_duplicates(inplace=True)

In [107]:
cursos_cadastrados

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,nome,email,telefone
0,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,João Silva,joao.silva@emailaleatorio.com,(11) 9999-9999
1,Marketing digital para negócios,Marketing,30 horas,75,2022-03-01,2022-03-31,Curso introdutório em marketing,89.9,Ana Santos,ana.santos@emailaleatorio.com,(11) 7777-7777
2,Inteligência artificial,Programação,40 horas,,2022-04-01,,Curso avançado sobre inteligência artificial c...,129.9,,contato@emailaleatorio.com,
3,Inglês para negócios,Idiomas,20 horas,30,,,Curso de inglês para negócios,69.9,John Smith,,

In [111]:
cursos_cadastrados.replace("", pd.NA, inplace=True)
cursos_cadastrados

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,nome,email,telefone
0,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,João Silva,joao.silva@emailaleatorio.com,(11) 9999-9999
1,Marketing digital para negócios,Marketing,30 horas,75,2022-03-01,2022-03-31,Curso introdutório em marketing,89.9,Ana Santos,ana.santos@emailaleatorio.com,(11) 7777-7777
2,Inteligência artificial,Programação,40 horas,<NA>,2022-04-01,<NA>,Curso avançado sobre inteligência artificial c...,129.9,<NA>,contato@emailaleatorio.com,<NA>
3,Inglês para negócios,Idiomas,20 horas,30,<NA>,<NA>,Curso de inglês para negócios,69.9,John Smith,<NA>,<NA>

In [112]:
cursos_cadastrados.dropna(inplace=True)
cursos_cadastrados

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,nome,email,telefone
0,Introdução à programação,Programação,20 horas,100,2022-01-01,2022-01-20,Curso introdutório à programação com Python,99.9,João Silva,joao.silva@emailaleatorio.com,(11) 9999-9999
1,Marketing digital para negócios,Marketing,30 horas,75,2022-03-01,2022-03-31,Curso introdutório em marketing,89.9,Ana Santos,ana.santos@emailaleatorio.com,(11) 7777-7777

In [113]:
cursos_cadastrados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 0 to 1
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   curso           2 non-null      object
 1   categoria       2 non-null      object
 2   carga_horaria   2 non-null      object
 3   concluintes     2 non-null      object
 4   data_inicio     2 non-null      object
 5   data_conclusao  2 non-null      object
 6   descricao       2 non-null      object
 7   preco           2 non-null      float64
 8   nome            2 non-null      object
 9   email           2 non-null      object
 10  telefone        2 non-null      object
dtypes: float64(1), object(10)
memory usage: 192.0+ bytes

In [117]:
type(
    pd.to_datetime(cursos_cadastrados['data_inicio'])
    )

pandas.core.series.Series

In [119]:
# Converte a concluintes para o tipo inteiro
cursos_cadastrados['concluintes'] = cursos_cadastrados['concluintes'].astype(int)

# Converte a coluna data_inicio e data_conclusao para o tipo datetime
cursos_cadastrados['data_inicio'] = pd.to_datetime(cursos_cadastrados['data_inicio'])
cursos_cadastrados['data_conclusao'] = pd.to_datetime(cursos_cadastrados['data_conclusao'])

# Convertendo a coluna preço para o tipo float
cursos_cadastrados['preco'] = cursos_cadastrados['preco'].astype(float)